html,
body {
    margin: 0;
    padding: 0;
}

.guest-layout {
    max-width: 2000px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    background-color: #000000;
    width: 100%;
    position: relative;
    padding: 0;
    height: 80px;
}

.header-logo {
    position: absolute;
    top: 22px;
    left: 25px;
    opacity: 1;
}

.header-logo-img {
    width: 370px;
    height: 36px;
}

.header-logo-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

h1 {
    all: unset;
    font-size: 24px;
    font-weight: bold;
}

/* PCサイズ（1400〜1540px）対応 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .guest-layout {
        gap: 30px;
    }

    .header-logo-img {
        width: 400px;
    }
}

/* タブレットサイズ（768〜850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .guest-layout {
        gap: 15px;
    }

    .header-logo-img {
        width: 300px;
    }
}