.section-title {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    padding: 40px 0 20px 0;
}

.login {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login-item {
    margin-bottom: 15px;
}

.login-label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    color: #000000;
}

.input-form {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.login-button:hover {
    background-color: #c74040;
}

.login-nav {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.login-link {
    display: block;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #0073CC;
    text-decoration: none;
}

.login-link:hover {
    color: #FF5555;
}

.form-error-message {
    color: #FF5555;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    text-align: left;
}

.auth-error-message {
    color: #FF5555;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    text-align: left;
}

/* PCサイズ（1400〜1540px）対応 */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .login {
        max-width: 640px;
        padding: 40px 30px;
        margin: 40px auto;
    }

    .login-title {
        font-size: 40px;
        padding: 60px 0 30px 0;
    }

    .login-label {
        font-size: 26px;
    }

    .login-input {
        height: 64px;
        font-size: 18px;
    }

    .login-button {
        font-size: 28px;
        padding: 24px;
        margin-top: 70px;
    }

    .login-link {
        font-size: 22px;
    }

    .form-error-message,
    .auth-error-message {
        font-size: 15px;
    }
}

/* タブレットサイズ（768〜850px）対応 */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .login-title {
        font-size: 25px;
    }

    .login {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }

    .login-item {
        margin-bottom: 15px;
    }

    .login-label {
        font-size: 20px;
    }

    .login-input {
        width: 100%;
        height: 60px;
        padding: 10px;
        border-radius: 4px;
    }

    .login-button {
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #FFFFFF;
    }

    .login-link {
        font-size: 18px;
    }

    .form-error-message,
    .auth-error-message {
        font-size: 13px;
    }

}